.App {
  text-align: center;
  background-color: #0000FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchContainer {
  position: relative;
  width: 95%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 25px;
  font-size: 28px;
  border: 5px solid #4a4a4a;
  border-radius: 15px;
  box-sizing: border-box;
}

.selectedPlayers {
  list-style-type: none;
  padding: 0;
}